/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

 
/* .container{
    width: 70%;
    padding: 34px;
    margin: auto;
}  */


.container h1,p{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.container h1{
    font-size: 40px;
}
.container p{
    font-size: 17px;
}

/* input, textarea , select{
    width: 80%;
    margin: 11px;
    padding: 7px;
    font-size: 15px;
    border: 1px solid rgb(13,110,253);
    border-radius: 6px;
    outline: none;
} 
input:hover ,textarea:hover{
    border:2px solid rgb(13,110,253);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    color: white;
    background-color: rgb(47, 123, 229);
    padding: 15px 10px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 14px;
    cursor:pointer ;
}

.bgimg{
    width: 100%;
    /* 100% takes full width of window * /
    height: 110vh;
    /* 100vh takes full height of window* /
    position: absolute;
    z-index: -1;
    /* it will take position under other tags. * /
    opacity: .6;
    
}*/
.submitMsg{
    color: green;
}

body{
    background-image: url(../img/coxsbazar.jpg);
    background-position: center center;
    background-size: cover;
}